@{
    Layout = "_LayoutDone";
    ViewData["Title"] = "Eindscore";

    var scores = ViewData["scores"] as Dictionary<string, int>;
}
@section Scripts {
        @if (ViewData["totalScore"] as int? > 5)
        {
            <script>
                let music = new Audio('/sound/positive-score.mp3');
                music.play();
            </script>
        } else
        {
            <script>
                let music = new Audio('/sound/negative-score.mp3');
                music.play(); 
            </script>
        }
}
<div class="eindscorehelepagina">
    <div class="containerUp">
        <div class="upLeft">
            <div class="eindscoretekst">
                <p>Jouw eindscore is een :</p> 
                </div>
                <div class="scorebalkContainer">
                    <p>Score: <br> @ViewData["totalScore"]</p>
                    <div class="scorebalk"></div>
                </div>
                <div class="onderdelen">
                    <p>Onderdelen:</p>
                </div>
        </div>
        <div class="eindcijfer">
            <p>7</p>
        </div>
    </div>
    <div class="mainContainerResultaat">
        <div class="borderresultaat">
            <div class="containerResultaat">
                <div class="berichtemma">
                    <img class="berichtemmaclass" src="~/img/instagram export logo.png" alt="afbeeldingberichtemma" width="70">
                    <p>Bericht van Emma</p>
                </div>
                <div class="filmpjemail">
                    <img class="filmpjemailclass" src="~/img/mail filmpje.png" alt="afbeeldingmailfilmpje" width="80">
                    <p>Filmpje mail</p>
                </div>
                <div class="wachtwoordvergetenmail">
                    <img class="wachtwoordvergetenmailclass" src="~/img/wachtwoord vergeten mail.png" alt="afbeeldingwachtwoordvergeten" width="80">
                    <p>Wachtwoord mail</p>
                </div>
                <div class="schoolspullenmail">
                    <img class="schoolspullenmailclass" src="~/img/Mail schoolspullen.png" alt="afbeeldingschoolspullen" width="80">
                    <p>Schoolspullen mail</p>
                </div>
                <div class="spammail">
                    <img class="spammailclass" src="~/img/image-removebg-preview (29) 1.png" alt="afbeeldingspammail" width="80">
                    <p>Spam mail</p>
                </div>
                <div class="virusmelding">
                    <img class="virusmeldingclass" src="~/img/virusmelding-removebg-preview.png" alt="afbeeldingvirusmelding" width="80">
                    <p>Virusmelding</p>
                </div>
                <div class="wifiverbinding">
                    <img class="wifiverbindingclass" src="~/img/wifi logo eindresultaat.png" alt="afbeeldingwifi" width="80">
                    <p>Wifiverbinding</p>
                </div>
                <div class="wachtwoord">
                    <img class="wachtwoordclass" src="~/img/Slecht wachtwoord eindraport.png" alt="afbeeldingwachtwoord" width="70">
                    <p>Wachtwoord</p>
                </div>
            </div>
        </div>
        <div class="privacyborder">
            <div class="containerPrivacy">
                <div class="privacyvoorwaarde">
                    <img class="privacyvoorwaardeclass" src="~/img/privacy policy.png" alt="afbeeldingprivacyvoorwaarde" width="80">
                    <p>Privacy voorwaarde</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal">
    <div class="modal-wrap">
        <img src="https://assets.codepen.io/1462889/sl3.jpg" alt="">
        <p>
            Je hebt de voorwaarde geaccepteerd anders kon je niet verder.
            Dit is bij heel veel sites het geval en iedereen accepteert ze standaard.
            Maar in dit geval hebben wij in de voorwaarden gezet dat we alle gegevens die je verstuurt of uitleest mogen uitlezen/gebruiken. Dit is natuurlijk niet iets wat je wil.
        </p>
    </div>
</div>