<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Eindscore</title>
</head>

<body>
    <div class="eindscorehelepagina">
        <div class="containerUp">
            <div class="upLeft">
                <div class="eindscoretekst">
                    <p>Jouw eindscore is een :</p> 
                 </div>
                 <div class="scorebalkContainer">
                        <p>Score: <br> {5/8}</p>
                        <div class="scorebalk"></div>
                 </div>
                 <div class="onderdelen">
                     <p>Onderdelen:</p>
                 </div>
            </div>
            <div class="eindcijfer">
                <p>7</p>
            </div>
        </div>
        <div class="mainContainerResultaat">
            <div class="borderresultaat">
                <div class="containerResultaat">
                    <div class="berichtemma">
                        <img class="berichtemmaclass" src="instagram export logo.png" alt="afbeeldingberichtemma" width="70">
                        <p>Bericht van Emma</p>
                    </div>
                    <div class="filmpjemail">
                        <img class="filmpjemailclass" src="mail filmpje.png" alt="afbeeldingmailfilmpje" width="80">
                        <p>Filmpje mail</p>
                    </div>
                    <div class="wachtwoordvergetenmail">
                        <img class="wachtwoordvergetenmailclass" src="wachtwoord vergeten mail.png" alt="afbeeldingwachtwoordvergeten" width="80">
                        <p>Wachtwoord mail</p>
                    </div>
                    <div class="schoolspullenmail">
                        <img class="schoolspullenmailclass" src="Mail schoolspullen.png" alt="afbeeldingschoolspullen" width="80">
                        <p>Schoolspullen mail</p>
                    </div>
                    <div class="spammail">
                        <img class="spammailclass" src="image-removebg-preview (29) 1.png" alt="afbeeldingspammail" width="80">
                        <p>Spam mail</p>
                    </div>
                    <div class="virusmelding">
                        <img class="virusmeldingclass" src="virusmelding-removebg-preview.png" alt="afbeeldingvirusmelding" width="80">
                        <p>Virusmelding</p>
                    </div>
                    <div class="wifiverbinding">
                        <img class="wifiverbindingclass" src="wifi logo eindresultaat.png" alt="afbeeldingwifi" width="80">
                        <p>Wifiverbinding</p>
                    </div>
                    <div class="wachtwoord">
                        <img class="wachtwoordclass" src="Slecht wachtwoord eindraport.png" alt="afbeeldingwachtwoord" width="70">
                        <p>Wachtwoord</p>
                    </div>
                </div>
            </div>
            <div class="privacyborder">
                <div class="containerPrivacy">
                    <div class="privacyvoorwaarde">
                        <img class="privacyvoorwaardeclass" src="privacy policy.png" alt="afbeeldingprivacyvoorwaarde" width="80">
                        <p>Privacy voorwaarde</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>