@{
    ViewData["Title"] = "Inloggen";
    Layout = "_LayoutNotLoggedIn";
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            // Login
            $('form#login #next').on('click', function () {
                $.post('/Main/IndexPost', function (data) {
                    console.log(data);
                    if (data == 'Ok') {
                        $.get("/Main/Index", function (data) {
                            $('.contentApps').html(data);
                        })
                    }
                })
            });
        });
    </script>
}

<div class="mainContainer">
    <form class="layout" id="login">
        <div class="inlogtext">
            <p class="title">@ViewData["Title"]</p>
        </div>
        <div class="avatar">
            <img class="profielfoto" src="~/img/icons/pf databeest.png" alt="profielfoto">
        </div>

        <div class="loginText">
            <input id="usernameblockid" type="text" placeholder="Username" name="username" required>
            <input id="passwordblockid" type="password" placeholder="Password" name="password" required>
            <div class="buttonsoptie">
                <button id="buttonlogin" type="submit">
                    <img id="next" src="~/img/icons/buttonlogin.png" alt="loginknop" height="40">
                </button>
            </div>
        </div>

        <div class="forgetpassword">
            <span class="psw"><a id="noaccount" href="/User/Register">Nog geen account?</a></span>
        </div>
    </form>
</div>
