@model Databeest.Models.User
@{
    ViewData["Title"] = "Registreren";
    Layout = "_LayoutNotLoggedIn";
}

<div class="heelbody">
      <div class="mainContainer">
        <div class="achtergrondregister">
            <form class="layout" method="post" action="/User/Register">
                <div class="inlogtext">
                    <p>@ViewData["Title"]</p>
                 </div>
                <div class="avatar">
                     <img class="profielfoto" src="~/img/icons/pf databeest.png" alt="profielfoto">
                </div>
                <div class="loginText">
                     <input id="usernameblockid" type="text" placeholder="Username" name="Username" required>
                     <input id="passwordblockid" type="password" placeholder="Password" name="Password" required>
                     <input id="reenterpasswordid" type="password" placeholder="Re-Password" name="PasswordConfirm" required>
                     @ViewBag.Message
                    <button id="buttonlogin" type="submit"><img src="~/img/icons/buttonlogin.png" alt="loginknop" height="45"></button>
                </div>
                <div class="layoutprivacycheckbox">
                    <input type="checkbox" name="voorwaardeprivacy" value="privacyvoorwaarde" required>
                    <label for="voorwaardeprivacy">Ik ga akkoord met de <a id="nohyperlink" href="/User/Policy">privacyvoorwaarde</a></label><br>
                </div>
                <div class="goback">
                        <a href="/User/Login">
                            <img src="~/img/icons/buttongoback.png" alt="gaterugknop" height="25">
                        </a>
                        <a id="gaterug" href="/User/Login">Ga terug</a>
                </div>
            </form>
         </div>
      </div>
    
</div>