body {
    font-size: 16px;
    background-image: url("../img/layout/background_desktop.jpg");
    background-size: cover;
    background-repeat: round;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
.d-none {
    display: none;
}
.contentApps {
    height: calc(100vh - 25px);
}
.container {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  background-color: #19384C;
  color: white;
}
.wifiContainer {
    display: flex;
}
.wifiLockedClass {
    padding: 1px;
    height: 18px;
    width: 18px;
}
.searchBar {
    background-color: aliceblue;
    width: 30%;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    color: black;
}
.dateTime {
    padding: 8px;
    margin: 0 20px;
    text-align: right;
}
.containerTaskbar {
    display: flex;
    top: 0px;
    height: 55px;
    width: 300px;
    border-radius: 5px;
    justify-content: space-between;
    background-color: #254f6b;
    padding: 0px 20px;
}
.containerTaskbar img:hover {
    background-color: #275d81;
    border-radius: 5px;
    transition: all 0.2s ease;
}
.imageClass {
    padding: 8px;
    border-radius: 12px;
    height: 40px;
}
/* OnlineSatus begin */
#homeOpener {
    position: absolute;
    left: 1.5%;
    height: 96px;
    width: 150px;
    border-radius: 0px 0px 5px 5px;
    background-color: #19384C;
}
#afsluiten {
    color: white;
    display: flex;
    height: 35px;
    justify-content: space-between;
    padding: 10px 10px 0px 15px;
}
#afsluiten:hover {
    background-color: #275d81;
    border-radius: 0px 0px 5px 5px;
}
#afmelden {
    color: white;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 10px 10px 0px 15px;
}
#afmelden:hover {
    background-color: #275d81;
}
.hoverSelect:hover {
    background-color: #254f6b;
    border-radius: 5px;
}
/* OnlineSatus end */
/* WifiPicker begin */
#wifiPicker {
    position: absolute;
    right: 4%;
    height: 130px;
    width: 150px;
    border-radius: 0px 0px 5px 5px;
    background-color: #19384C;
}
.optionClass {
    position: relative;
    border: greenyellow;
    height: 38%;
    padding: 8px;
}
.optionClass img {
    height: 20px;
    width: 20px;
}
.optionClass:hover {
    background-color: #254f6b;
    border-radius: 0px 0px 5px 5px;
}
.mainConnection {
    color: white;
    display: flex;
    justify-content: space-between;
}
.secondConnection {
    display: flex;
    justify-content: space-between;
}
.connectButttonClass {
    border-radius: 3px;
    border: none;
    padding: 4px;
    background-color: rgb(25, 121, 180);
    color: white;
}
.connectButttonClass:hover {
    background-color: rgb(20, 110, 167);
    color: white;
}
.informationConnection {
    top: 100px;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    color: white;
    text-align: center;
}
/* WifiPicker end */
.svgClass {
    height: 25px;
    width: 25px;
}

/* Photogram NavBar */
.navBarPhotogram {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #19384C;
}

.close {
    width: 50px;
}
/* Photogram NavBar end */
/* Photogram left */
ul.chatList {
    padding: 0;
    margin: 0;
}
.photogramContainer {
    height: calc(100% - 50px);
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    color: black;
    background-image: url("img/background_desktop.jpg");
}

.PhotogramDisplay {
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: black solid 1px;
}

.centerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    object-fit: cover;
    border-radius: 20px;
}

.photogramImage {
    border-radius: 30px
}

.photogramAccount {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: left;
    bottom: 10%;
    border: black solid 1px;
}

/* Photogram left end */
/* Photogram right */
.appClass {
    background-color: white;
    border-radius: 10px;
    max-height: fit-content;
    width: 100%;
    margin: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.peopleConnections {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.navContainerLeftPhotogram {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}

.navContainerRightPhotogram {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-left: black solid 1px;
}

.navPhotogram {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    height: 10%;
    border-bottom: black solid 1px;
}

#userInfo {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: 10px;
}

    #userInfo img {
        min-height: 40px;
        height: 100%;
        border-radius: 100px;
    }

#userInfoId {
    height: 50px;
}

.userNameLastSeen {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

    .userNameLastSeen p {
        margin: 0px;
        font-size: 20px;
    }

.lastSeenHoverEffect {
    color: rgb(155, 153, 153);
    width: 100%;
}

.chatList li {
    height: 14,5%;
    display: flex;
    list-style-type: none;
    padding: 15px;
    border-bottom: black solid 1px;
}

    .chatList li:hover {
        color: white;
        background: rgb(239,44,130, 0.3);
        background: linear-gradient(180deg, rgba(239,44,130) 0%, rgba(252,53,110) 50%, rgba(255,75,84) 100%);
    }

        .chatList li:hover .lastSeenHoverEffect {
            color: white;
        }

.chatList img {
    height: 50px;
    border-radius: 100px;
}

.chatList p {
    font-size: 20px;
    padding-left: 6%;
    margin: auto;
    margin-left: 10px;
}

.chatDisplay {
    height: 90%;
    background-image: linear-gradient(135deg, rgba(36, 9, 87, 0.1) 25%, transparent 25%), linear-gradient(225deg, rgba(36, 9, 87, 0.1) 25%, transparent 25%), linear-gradient(45deg, rgba(36, 9, 87, 0.1) 25%, transparent 25%), linear-gradient(315deg, rgba(36, 9, 87, 0.1) 25%, #ffffff 25%);
    background-position: 40px 0, 40px 0, 0 0, 0 0;
    background-size: 40px 40px;
    background-repeat: repeat;
}

#chatClass {
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    height: 90%;
    justify-content: space-between;
    gap: 2%;
}

.chatBar {
    height: 10%;
    width: 100%;
}

.typeBar {
    display: flex;
    justify-content: space-between;
    border: #19384C solid 1px;
    background-color: white;
    border-radius: 15px;
    height: 80%;
    margin: 5px;
}

    .typeBar input {
        border: none;
        width: 80%;
        height: 100%;
        border-radius: 20px;
        padding-left: 10px;
        font-size: 20px;
        margin: auto;
    }

    .typeBar svg {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

#userChatBarSVG {
    height: 40px;
}

#userChatBarSVG2 {
    height: 40px;
}

.userSend {
    opacity: 1;
    padding: 15px;
    background-color: #D9D9D9;
    border-radius: 15px;
}

.userRecieved {
    opacity: none;
    padding: 15px;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
}

.emptySpace {
    padding: 20px;
}
/* Photogram right end */
#backgroundre {
    background-image: url("../img/bg-register.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.inlogtext {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.profielfoto {
    width: 100%;
    justify-content: center;
    display: flex;
}

.mainContainer {
    position: relative;
    background-image: url("../img/bg-inlog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.loginText {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.layout {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#usernameblockid, #passwordblockid, #reenterpasswordid {
    width: 100%;
    padding: 10px;
    margin-top: 15%;
    box-sizing: border-box;
    border-radius: 20px;
    border: white;
    opacity: 80%;
}

#buttonlogin {
    margin: 10%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
}

.layoutprivacycheckbox {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


#noaccount {
    text-decoration: none;
    color: white;
    text-shadow: black 2px 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.forgetpassword {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: black 2px 2px;
}

p.title {
    text-transform: uppercase;
}
