body {
    font-size: 16px;
    background-image: url("../img/layout/background_desktop.jpg");
    background-size: cover;
    background-repeat: round;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
.d-none {
    display: none;
}
.contentApps {
    height: calc(100vh - 81px);
}
.container {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  background-color: #19384C;
  color: white;
}
.wifiContainer {
    display: flex;
}
.wifiLockedClass {
    padding: 1px;
    height: 18px;
    width: 18px;
}
#wifiPicker *, #homeOpener {
    margin: 0;
}
.searchBar {
    background-color: aliceblue;
    width: 30%;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    color: black;
}
.dateTime {
    padding: 8px;
    margin: 0 20px;
    text-align: right;
}
.containerTaskbar {
    display: flex;
    top: 0px;
    height: 55px;
    width: 300px;
    border-radius: 5px;
    justify-content: space-between;
    background-color: #254f6b;
    padding: 0px 20px;
}
.containerTaskbar img:hover {
    background-color: #275d81;
    border-radius: 5px;
    transition: all 0.2s ease;
}
.imageClass {
    padding: 8px;
    border-radius: 12px;
    height: 40px;
}
/* OnlineSatus begin */
#homeOpener {
    position: absolute;
    left: 1.5%;
    height: 96px;
    width: 150px;
    border-radius: 0px 0px 5px 5px;
    background-color: #19384C;
}
#afsluiten {
    color: white;
    display: flex;
    height: 35px;
    justify-content: space-between;
    padding: 10px 10px 0px 15px;
}
#afsluiten:hover {
    background-color: #275d81;
    border-radius: 0px 0px 5px 5px;
}
#afmelden {
    color: white;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 10px 10px 0px 15px;
}
.buttonAfmelden {
    display: flex; justify-content: space-between;
}

#afmelden:hover {
    background-color: #275d81;
}
.hoverSelect:hover {
    background-color: #254f6b;
    border-radius: 5px;
}
/* OnlineSatus end */
/* WifiPicker begin */
#wifiPicker {
    position: absolute;
    right: 4%;
    height: 130px;
    width: 150px;
    border-radius: 0px 0px 5px 5px;
    background-color: #19384C;
}
.optionClass {
    position: relative;
    border: greenyellow;
    height: 38%;
    padding: 8px;
}
.optionClass img {
    height: 30px;
    width: 30px;
}
.optionClass:hover {
    background-color: #254f6b;
    border-radius: 0px 0px 5px 5px;
}
.mainConnection {
    color: white;
    display: flex;
    justify-content: space-between;
}
.secondConnection {
    display: flex;
    justify-content: space-between;
}
.connectButttonClass {
    border-radius: 3px;
    border: none;
    padding: 4px;
    background-color: rgb(25, 121, 180);
    color: white;
}
.connectButttonClass:hover {
    background-color: rgb(20, 110, 167);
    color: white;
}
.informationConnection {
    top: 100px;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    color: white;
    text-align: center;
}
/* WifiPicker end */
.svgClass {
    height: 30px;
    width: 30px;
}

/* Photogram NavBar */
.navBarPhotogram {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #3D5A6D;
}

.close {
    color: white;
    width: 50px;
}
/* Photogram NavBar end */
/* Photogram left */
ul.chatList {
    padding: 0;
    margin: 0;
}
.photogramContainer {
    height: calc(100% - 50px);
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    color: black;
    background-image: url("img/background_desktop.jpg");
}

.PhotogramDisplay {
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: black solid 1px;
}

.centerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    object-fit: cover;
    border-radius: 20px;
}
.photogramImageBarLogo {
    height: 40px;
    border-radius: 10px;
    margin-left: 5px;
}
.photogramImage {
    border-radius: 30px;
}


/* Photogram left end */
/* Photogram right */
.appClass {
    background-color: white;
    border-radius: 10px;
    max-height: fit-content;
    width: 100%;
    margin: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.peopleConnections {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.navContainerLeftPhotogram {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}

.navContainerRightPhotogram {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-left: black solid 1px;
}

.navPhotogram {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    height: 10%;
    border-bottom: black solid 1px;
}

#userInfo {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: 10px;
}

    #userInfo img {
        min-height: 40px;
        height: 100%;
        border-radius: 100px;
    }

#userInfoId {
    height: 50px;
}

.userNameLastSeen {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

    .userNameLastSeen p {
        margin: 0px;
        font-size: 20px;
    }

.lastSeenHoverEffect {
    color: rgb(155, 153, 153);
    width: 100%;
}

.chatList li {
    height: 14,5%;
    display: flex;
    list-style-type: none;
    padding: 15px;
    border-bottom: black solid 1px;
}

    .chatList li:hover {
        color: white;
        background: rgb(239,44,130, 0.3);
        background: linear-gradient(180deg, rgba(239,44,130) 0%, rgba(252,53,110) 50%, rgba(255,75,84) 100%);
    }

        .chatList li:hover .lastSeenHoverEffect {
            color: white;
        }

.chatList img {
    height: 50px;
    border-radius: 100px;
}

.chatList p {
    font-size: 20px;
    padding-left: 6%;
    margin: auto;
    margin-left: 10px;
}

.chatDisplay {
    height: 90%;
    background-image: linear-gradient(135deg, rgba(36, 9, 87, 0.1) 25%, transparent 25%), linear-gradient(225deg, rgba(36, 9, 87, 0.1) 25%, transparent 25%), linear-gradient(45deg, rgba(36, 9, 87, 0.1) 25%, transparent 25%), linear-gradient(315deg, rgba(36, 9, 87, 0.1) 25%, #ffffff 25%);
    background-position: 40px 0, 40px 0, 0 0, 0 0;
    background-size: 40px 40px;
    background-repeat: repeat;
}

#chatClass {
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    height: 90%;
    justify-content: space-between;
    gap: 2%;
}

.chatBar {
    height: 10%;
    width: 100%;
}

.typeBar {
    display: flex;
    justify-content: space-between;
    border: #19384C solid 1px;
    background-color: white;
    border-radius: 15px;
    height: 80%;
    margin: 5px;
}

    .typeBar input {
        border: none;
        width: 80%;
        height: 100%;
        border-radius: 20px;
        padding-left: 10px;
        font-size: 20px;
        margin: auto;
    }

    .typeBar svg {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

#userChatBarSVG {
    height: 40px;
}

#userChatBarSVG2 {
    height: 40px;
}

.userSend {
    opacity: 1;
    padding: 15px;
    background-color: #D9D9D9;
    border-radius: 15px;
}

.userRecieved {
    opacity: none;
    padding: 15px;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
}

.emptySpace {
    padding: 20px;
}
/* Photogram right end */
#backgroundre {
    background-image: url("../img/bg-register.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#backgroundlogin {
    background-image: url("../img/bg-inlog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.inlogtext {
    
    text-align: center;
    font-size: 2.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.inlogtext p {
    margin-block: 0;
    padding-top: 20px;
}

.avatar {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}


.profielfoto {
    width: 100%;
    justify-content: center;
    display: flex;
    animation: ronddraaien infinite 2s;
}

@keyframes ronddraaien {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
    }
}

.profielfoto:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    background-image:url('~/img/icons/MAD_databeast (1).png');
    opacity: 0%;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}



.mainContainer {
    position: relative;
    background-image: url("../img/bg-inlog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
}

.achtergrondregister {
    position: relative;
    background-image: url("../img/bg-register.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.loginText {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.layout {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#usernameblockid, #passwordblockid, #reenterpasswordid {
    width: 100%;
    padding: 10px;
    margin-top: 15%;
    box-sizing: border-box;
    border-radius: 20px;
    border: white;
    opacity: 80%;
}

#buttonlogin {
    margin: 10%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
}

.layoutprivacycheckbox {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.layoutprivacycheckbox a {
    color: white;
}

.goback {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top:20px;
}

    .goback a {
        text-decoration: none;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        padding: 5px;
        align-self: center
    }

 .gaterug {
     margin-top: 2px;
  }
#noaccount {
    text-decoration: none;
    color: white;
    text-shadow: black 2px 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.forgetpassword {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: black 2px 2px;
}



.forgetpassword a:hover {
    color: black !important;
    text-shadow: none !important;
}


.middentext {
    text-align: left;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#logotekstprivacyvoorwaarde {
    width: 10%;
    display: flex;
    margin-right: auto;
    padding: 10px;
    margin-bottom: -60px;
}

.volledigepagina {
    background: white
}

.paginaprivacy h2 {
    text-align: center;
}

.paginaprivacy {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}

.gobackprivacy {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: right;
    margin-top: -100px;
}

    .gobackprivacy a {
        text-decoration: none;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        padding: 5px;
        align-self: center;
    }

.gaterugprivacy {
    margin-top: 2px;
}

p.title { /* Geen hoofdletters nodig in p tag ;) wordt dynamisch ingevuld namelijk */
    text-transform: uppercase;
}


 /*Eindpaginascore scherm */
.eindscorehelepagina * {
    margin: 0;
}

.eindscorehelepagina {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(achtergrond.jpg);
    background-size: 100% 100%;
    height: 100vh;
}

/* Sectie up */
.containerUp {
    margin-left: 3%;
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
    -webkit-text-stroke: 1px black;
    text-shadow: 10px 10px 10px 10px black;
}

.upLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eindscoretekst {
    position: static;
    max-width: fit-content;
}

    .eindscoretekst p {
        font-size: 60px;
    }

.scorebalkContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .scorebalkContainer p {
        font-size: 30px;
        text-align: center;
    }

.scorebalk {
    height: 40px;
    background-color: red;
    border-radius: 10px;
}

.eindcijfer {
    font-size: 300px;
}

.onderdelen {
    font-size: 60px;
}
/* end sectie up */

.mainContainerResultaat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.borderresultaat {
    width: 40%;
    border-radius: 5%;
    background-color: #053568;
}

.containerResultaat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .containerResultaat div {
        width: 100px;
        height: 100px;
        margin: 5%;
        /* margin-top: 8%; */
        border-radius: 100px;
    }

/* begin privacy box */

.privacyborder {
    /* position: absolute; */
    bottom: 7%;
    left: 65%;
    width: 15%;
    border-radius: 5%;
    background-color: #053568;
}

.containerPrivacy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .containerPrivacy div {
        width: 100px;
        height: 100px;
        margin: auto;
        margin-top: 50%;
        background-color: gray;
        border-radius: 100px;
    }

/* end privacy box */

.spammail, .filmpjemail, .wachtwoordvergetenmail, .schoolspullenmail, .berichtemma, .virusmelding, .wifiverbinding, .wachtwoord, .privacyvoorwaarde {
    text-align: center;
    background-color: green;
    /* background-color: red; */
}

.wifiverbindingclass {
    margin-top: 20%;
}

.virusmeldingclass {
    margin-top: 15%;
}

.berichtemmaclass {
    margin-top: 10%;
}

.privacyvoorwaardeclass {
    margin-top: 15%;
}

.containerResultaat p, .containerPrivacy p {
    margin-top: 20%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/*Einde resultaten pagina*/

.modal {
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(31,32,41,.75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms 700ms ease;
}

.modal {
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.modal-wrap {
    position: relative;
    display: block;
    width: 100%;
    max-width: 40vw;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199,175,189,.25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-close {
    position: absolute;
    width: 4% !important;
    height: 8% !important;
    right: 4%;
    top: 6%;
    filter: invert(1);
}
    .modal-wrap img {
        display: block;
        width: 100%;
        max-height: 500px;
    }

    .modal-wrap p {
        padding: 20px 30px 0 30px;
    }

.modal .modal-wrap {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.logo img {
    filter: brightness(100%);
    transition: all 250ms linear;
}

/* trash */

.trash {
    height: 30px;
    width: 30px;
}

.nothingSelected {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    color: rgb(124, 122, 122);
}

.deleteClass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .deleteClass p {
        margin: 0px;
        font-size: 20px;
    }
