html {
    font-size: 14px;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 60px;
  }
  
  /* Mailbox */
  html, body {
      margin: 0;
      padding: 0;
      overflow-y: hidden
  }
  
  a {
      text-decoration: none;
      color: black;
  }
  
  ul {
      list-style-type: none;
      padding: 0;
  }
  
  .desktop-bar {
      height: 50%;
      width: 100%;
      z-index: 1;
  }
  
  .app-bar {
      background-color: rgb(61 90 109);
      height: 50%;
      width: 100%;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      padding-top: 7px;
      padding-bottom: 7px;
      align-items: flex-end;
  }
  
  .app-bar-icon {
      width: 35px;
      padding-left: 1%;
      padding-bottom: .3%;
  }
  
  .app-bar-close {
      padding-right: 1.5%;
      padding-bottom: .3%;
  }
  
      .app-bar-close img {
        width: 20px;
        filter: invert(1);
      }

      .link-bar{
        width: 80%;
        background-color: #FFFFFF;
        border-radius: 5px;
        margin: 5px;
    }
    .link-bar p{
        padding-left: 2%;
        color: #000;
        margin: 5px;
    }
  
  .mail-container {
      width: 100vw;
      max-height: 83vh;
      height: 83vh;
      display: flex;
      background-image: url(../img/full-mail.jpeg);
      background-size: cover;
      background-position: center;
      color: black;
      justify-content: center;
  }
  
  .mail-left {
      width: 20%;
      margin-right: -4%;
  }
  /* COMPOSE BUTTON  */
  .compose-container {
      padding-top: 10%;
      padding-bottom: 10%;
      width: 80%;
      padding-left: 10%;
  }
  
  .compose {
      display: block;
      background-color: #E2C679;
      border: 1px solid #E2C679;
      margin-left: 5%;
      margin-right: 5%;
      border-radius: 30px;
      color: #fff;
  }
  
      .compose:hover, .box:hover {
          background-color: #CAA672;
      }
  
      .compose:hover {
          border: 1px solid #CAA672;
      }
  
      .compose ul {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5%;
          /* width: 71%; */
      }
  
          .compose ul li:nth-child(1) {
              padding-right: 2%;
          }
  
      .compose img {
          width: 24px;
          filter: invert(1);
      }
  
  /* BOXES WITH BUTTONS LIKE SEND  */
  .boxes-container {
      padding-top: 4%;
      padding-left: 10%;
  }
  
  .box {
      width: 70%;
      display: inline-block;
      text-align: center;
      overflow: hidden;
      background-color: rgb(160 160 160 / 50%);
      margin-bottom: 5%;
      margin-left: 5%;
      border: 1px;
      border-radius: 10px;
      cursor: pointer;
      padding: 5%;
  }
  
      .box ul {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 25px;
      }
  
      .box li {
          margin-bottom: -5%;
          color: #fff;
      }
  
      .box img {
          width: 32px;
          filter: invert(1)
      }
  
      .box ul li:nth-child(1) {
          padding-right: 2%;
      }
  
  #sent ul li:nth-child(1) {
      margin-left: -8%;
  }
  
  /* EVERYTHING BELOW IS THE RIGHT SIDE OF THE MAIL PAGE */
  .mail-middle {
      width: 30%;
      /* padding-left: 10%; */
      margin-right: -4%;
  }
  /* SEARCH BAR */
  .search {
      position: relative;
      width: 70%;
      height: 40px;
      background: #f2f2f2;
      border-radius: 20px;
      overflow: hidden;
      margin-top: 8%;
      margin-left: 15%;
      opacity: 85%;
  }
  
      .search input {
          position: absolute;
          top: 0;
          left: 5%;
          width: 100%;
          height: 100%;
          padding: 0 40px 0 20px;
          border: none;
          outline: none;
          background: none;
          font-size: 16px;
          color: #333;
      }
  
      .search img {
          width: 24px;
          padding: 0 2%;
          padding-top: 3%;
      }
  
  /* MAIL CONTENT */
  
  .inbox-container {
      margin-top: 10%;
      /* margin-left: 5%; */
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  .inbox {
      background: #fff;
      border-radius: 10px;
      width: 80%;
      display: flex;
      justify-content: space-around;
      padding-top: 3%;
      padding-bottom: 3%;
      margin-bottom: 2%;
      opacity: 85%;
      cursor: pointer;
      align-items: center;
  }
  
  .selected {
      background-color: #E2C679;
      color: white;
  }
  
      .selected img {
          filter: invert(1) !important;
      }
  
  .inbox p {
      max-height: 20px;
      overflow: hidden;
  }
  
      .inbox p:nth-child(1) {
          max-width: 30%;
          min-width: 30%;
          margin-left: 3%;
      }
  
      .inbox p:nth-child(2) {
          max-width: 55%;
          min-width: 55%;
      }
  
  .trash {
      width: 24px;
      height: 24px;
      margin-right: 3%;
  }
  
  .mail-right {
      width: 40%;
  }
  
  .mail-box {
      background-color: #fff;
      height: 90%;
      width: 90%;
      margin: 6%;
      border: 1px;
      border-radius: 4%;
      opacity: 85%;
  }
  
  .mail-title {
      padding-top: 5%;
      padding-bottom: 5%;
      text-align: center;
  }
  
  .mail-text {
      padding-left: 5%;
      padding-right: 5%;
  }

  .mail-text img{
    width: 100%;
  }
  
  .top-openmail-container {
      padding-top: 5%;
      padding-left: 5%;
  }
  
  .mailbox-container {
      overflow-y: scroll;
      height: 100%;
  }
  
  .mail-text a {
      text-decoration: revert;
      color: blue;
  }
  
  .hide {
      display: none;
  }
  
  .afzender-openmail {
      display: inline-block;
      margin-bottom: 0;
      min-width: 60%;
  }
  
      .afzender-openmail span {
          font-weight: bold;
      }
  
      .afzender-openmail:hover + .hide {
          background-color: #E2C679;
          margin-left: 15%;
          border-radius: 10px;
          padding-left: 5%;
          padding-right: 5%;
          color: #fff;
          display: inline-block;
          margin-top: -5%;
          margin-bottom: -5%;
      }
  
  .ontvanger-openmai {
      margin-top: 0;
  }
  
  .trash-openmail {
      width: 24px;
      float: right;
      margin-right: 5%;
      margin-top: 5%;
  }

.pop-up {
    visibility: hidden;
    width: 14%;
    background-color: #8a8a8a;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 8px 0;
    position: absolute;
    top: 30%;
    margin-left: 1%;
    z-index: 1;
}

/* VIRUS PAGE CSS */
.virus-container {
    width: 100vw;
    max-height: 80vh;
    height: 80vh;
    background-color: #FF0000;
    text-align: center;
}
.virus-container h1{
    font-size: 3em;
    margin: 0;
    padding-top: 5%;
}
.virus-container .virus-bottom-text{
    padding-top: 5%;
}
.virus-container .virus-button-container{
    padding-top: 5%;
}
.virus-container .virus-button{
    background-color: #b73e3e96;
    color: #fff;
    border: none;
    padding: 1%;
    cursor: pointer;
}

/* NO-WIFI PAGE CSS */

.no-wifi-container{
    width: 100vw;
    max-height: 80vh;
    height: 80vh;
    text-align: center;
    color: #000 !important;
    background-color: #fff;
}

.no-wifi-container img{
    width: 15%;
    padding-top: 2%;
}

.no-wifi-container h1{
    font-size: 3em;
    margin:0;
}

.no-wifi-container p{
    max-width: 60%;
    margin: 0 auto;
    font-size: 1.5em;
}