@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
    background-image: url("../img/bg-inlog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#backgroundre {
    background-image: url("../img/bg-register.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.inlogtext {
    text-align:center;
    font-size: 2.5rem;
    color: white ;
    font-family: Arial, Helvetica, sans-serif;
   
}

.avatar {
   
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.profielfoto {
    width: 100%;
    justify-content: center;
    display: flex;
    
}

.mainContainer {
    position: relative;
}

.loginText {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    
}

.layout {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
}

#usernameblockid, #passwordblockid, #reenterpasswordid  { 
width: 100%;
padding: 10px;
margin-top: 15%;
box-sizing: border-box;
border-radius: 20px;
border: white;
opacity: 80%;
}



#buttonlogin {
    margin: 10% ;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
    
    
}

.layoutprivacycheckbox {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


#nohyperlink  {
    text-decoration: none;
    color: white;
    text-shadow: black 2px 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.forgetpassword {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: black 2px 2px;
}




