@{
    Layout = "_LayoutNotLoggedIn";
}

<div class="mainContainer">
    <form class="layout" id="login">
        <div class="inlogtext">
            <p>INLOGGEN</p>
        </div>
        <div class="avatar">
            <img class="profielfoto" src="~/img/icons/pf databeest.png" alt="profielfoto">
        </div>

        <div class="loginText">
            <input id="usernameblockid" type="text" placeholder="Username" name="username" required>
            <input id="passwordblockid" type="password" placeholder="Password" name="password" required>
            <div class="buttonsoptie">
                <button id="buttonlogin" type="submit">
                    <img id="next" src="~/img/icons/buttonlogin.png" alt="loginknop" height="40">
                </button>
            </div>
        </div>

        <div class="forgetpassword">
            <span class="psw"><a id="noaccount">Nog geen account?</a></span>
        </div>
    </form>
</div>
