@section Css
{
    <link rel="stylesheet" href="~/css/stylelogin.css" />
}

@section Scripts
{
    <script>
        $('#noaccount').on('click', function() {
            $.get('/Register', function(data) {
                $('.contentApps').html(data);
            });
        });

        $('#tijdelijk').on('click', function() {
            $.get('/Index', function(data) {
                $('.contentApps').html(data);
            });
        });
    </script>
}

<div class="mainContainer">
    <form class="layout">
        <p>Inloggen</p>
        <div class="avatar">
            <img class="profielfoto" src="~/img/icons/avatarpicture.jpg" alt="profielfoto">
        </div>

        <div class="loginText">
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit"><img src="~/img/icons/buttonlogin.png" alt="loginknop" height="40"></button>
        </div>

        <div class="forgetpassword">
            <span class="psw"><a id="noaccount">Nog geen account?</a></span>
        </div>

        <div class="forgetpassword">
            <span class="psw"><a id="tijdelijk">Ik ben toch ingelogd</a></span>
        </div>
    </form>
</div>
