@section Css
{
    <link rel="stylesheet" href="~/css/stylelogin.css" />
}

@{
    Layout = "_LayoutNotLoggedIn";
}

<div class="mainContainer">
    <form class="layout" id="login">
        <p>Inloggen</p>
        <div class="avatar">
            <img class="profielfoto" src="~/img/icons/avatarpicture.jpg" alt="profielfoto">
        </div>

        <div class="loginText">
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <img id="next" src="~/img/icons/buttonlogin.png" alt="loginknop" height="40">
        </div>

        <div class="forgetpassword">
            <span class="psw"><a id="noaccount">Nog geen account?</a></span>
        </div>
    </form>
</div>
