@section Css
{
    <link rel="stylesheet" href="~/css/stylelogin.css" />
}

@section Scripts
{
    <script>
        $('#policy').on('click', function() {
            $.get('/AlgemeneVoorwaarden', function(data) {
                $('.contentApps').html(data);
            });
        });
    </script>
}

<!-- <div class="backgroundpicture">
    <img src="images/achtefffrgrond inlog.jpg" alt="achtergrondfoto">
</div> -->
<div class="backgroundre">
    <div class="mainContainer">
        <form class="layout">
            <p> registreren </p>

            <div class="loginText">
                <input type="text" placeholder="Username" name="username" required>
                <input type="password" placeholder="Password" name="password" required>
                <input type="password" placeholder="Re-Password" name="password" required>
                <button type="submit"><img src="~/img/icons/buttonlogin.png" alt="loginknop" height="25"></button>
                   
            </div>

            <div class="buttonLogin">
                <input type="checkbox" name="voorwaardeprivacy" value="privacyvoorwaarde" required>
                Ik ga akkoord met de <a id="policy">algemene voorwaarden</a>
            </div>
        </form>
    </div>
</div>