@section Css
{
    <link rel="stylesheet" href="~/css/stylelogin.css" />
}
<link rel="stylesheet" href="~/css/site.css" />
<div class="databeest-overlay-container good">
    <div class="bubble-box-container">
        <div class="bubble bubble-onder">
            <a href="#"><img class="bubble-close" src="~/img/icons/close.png"></a>
            <p>Hier komt de tekst van goed of fout ook kunnen we via een button onclick funtion het logo + de achtergrond kleur veranderen</p></div>
    </div>
    <div class="databeest-img-container">
        <img src="~/img/happy.png">
    </div>
</div>