@section Scripts {
    <script>
        $.ajax({
            type: "POST",
            url: "/Main/OverlayBad/7", // /Main/OverlayBad/1
            success: function (data) {
                $(".contentApps").prepend(data)
                let myMusic = new Audio("/sound/negative.mp3");
                myMusic.play();
            },
        });
    </script>
}

<div class="app-bar">
<img class="app-bar-icon" src="~/img/layout/internet.png">
    <div class="link-bar">
        <p>http://googlle.com/reset-password</p>
    </div>
    <a href="/Main/Index" class="app-bar-close"><img src="~/img/icons/close.png"></a>
</div>
<div class="fake-container">
    <div class="fake-google-container">
        <div class="fake-google-box">
            <div class="box-content">
            <img src="~/img/google-logo.png">
            <h1>Change password</h1>
            <p>of your Google Account</p>
            <div class="fake-google-input-box">
                <input type="text" placeholder="Old password">
                <input type="text" placeholder="New password">
                <input type="text" placeholder="Confirm new password">
            </div>
            <a>Next</a>
            </div>
        </div>
    </div> 
</div>