<div class="top-bar">
    <div class="app-bar">
    <img class="app-bar-icon  src="~/img/layout/internet.png">
        <div class="link-bar">
            <p>https://databeestbrowser.nl/error-http-418</p>
        </div>
        <a href="/Main/Index" class="app-bar-close"><img src="~/img/icons/close.png"></a>
    </div>
</div>
<section class="no-wifi-container">
    <img src="~/img/no-wifi.png">
    <h1>Kan niet verbinden<br> met de website </h1>
    <br><br>
    <p>Controleer of Wi-Fi is ingeschakeld.<br> Selecteer het pictogram Geen internetverbinding aan de rechterkant van de taakbalk en controleer of Wi-Fi is ingeschakeld. Als dat niet zo is, selecteert u het om het in te schakelen.</p>
</section>
<style>

</style>