<div class="databeest-overlay-container good">
    <div class="bubble-box-container">
        <div class="bubble bubble-onder">
            <a href="/Main/Index"><img class="bubble-close" src="~/img/icons/close.png"></a>
            <p>Deze opdracht heb je al gedaan!</p>
        </div>
    </div>
    <div class="databeest-img-container">
        <img src="~/img/happy.png">
    </div>
</div>