@model Databeest.Models.Task

<div class="databeest-overlay-container good">
    <div class="bubble-box-container">
        <div class="bubble bubble-onder">
            <a href="#"><img class="bubble-close" src="~/img/icons/close.png"></a>
            <p>@Model.ShortGood</p>
        </div>
    </div>
    <div class="databeest-img-container">
        <img src="~/img/happy.png">
    </div>
</div>