@model Databeest.Models.Task

<div class="databeest-overlay-container bad">
    <div class="bubble-box-container">
        <div class="bubble bubble-onder">
            <a href="@Model.ReturnUrl"><img class="bubble-close" src="~/img/icons/close.png"></a>
            <p>@Model.ShortBad</p>
        </div>
    </div>
    <div class="databeest-img-container">
        <img src="~/img/mad.png">
    </div>
</div>