@model Databeest.Models.Task
@{
    ViewData["Title"] = "Virus";
    Layout = "_Layout";
}

<div class="top-bar virus-top-bar">
    <div class="app-bar">
    <img class="app-bar-icon" src="~/img/layout/internet.png">
        <div class="link-bar">
            <p>http://viruswarnreal.nl/</p>
        </div>
        <a data-id="5" id="virus-close" class="app-bar-close goodbeast"><img src="~/img/icons/close.png"></a>
    </div>
</div>
<div class="virus-container">
    <h1>Uw computer is vergrendeld</h1>
    <div class="virus-bottom-text">
        <h3>De computer met het IP adres ip 182.034.213 <br> is geinfeccteerd met het Virus RND/DataBeastSniffer!</h3>
        <h3>Bel snel de technische support op +31643650019 en bescherm <br> uw bestanden en gegevens tegen meer gevaren</h3>
        <h3>Wachtwoorden, berichten en bank gegevens kunnen worden gestolen </h3>
        <h3>U heeft nog <span id="virus-timer">{timer}</span> om ons te bellen!</h3>
        <p id="demo"></p>
        <img class="virus-img" src="~/img/mark.png">
        <img class="virus-img2" src="~/img/mark.png">
    </div>
    <div class="virus-button-container"><a data-id="5" class="virus-button badbeast">Bel ons op +31643650019</a></div>
</div>  
