@{
    ViewData["Title"] = "Virus";
    Layout = "_Layout";
}

<div class="top-bar">
    <div class="app-bar">
    <img class="app-bar-icon" src="~/img/layout/internet.png">
        <div class="link-bar">
            <p>http://viruswarnreal.nl/</p>
        </div>
        <a href="#" class="app-bar-close"><img src="~/img/icons/close.png"></a>
    </div>
</div>
<div class="virus-container">
    <h1>Your computer has been locked:</h3>
    <div class="virus-bottom-text">
        <h3>The computer with the IP adress {ip 182.} has been <br> infected by the Virus RND/DataBeastSnifer!</h3>
        <h3>Call the technical support +{number} to protect your <br> files and identity from further damage</h3>
        <h3>for example, passwords, messages, and credit cards have been stolen.</h3>
    </div>
    <div class="virus-button-container"><a class="virus-button">Call us: {number}</a></div>
</div>            