<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="stylelogin.css">
</head>

<body id="backgroundre">

    <!-- <div class="backgroundpicture">
        <img src="images/achtefffrgrond inlog.jpg" alt="achtergrondfoto">
    </div> -->
    <div class="heelbody">

        <div class="mainContainer">
            <form class="layout">
                <div class="inlogtext">
                    <p> REGISTREREN </p>
                </div>
                <div class="avatar">
                    <img class="profielfoto" src="images/profielfoto database.png" alt="profielfoto">
                </div>
                <div class="loginText">
                    <input id="usernameblockid" type="text" placeholder="Username" name="username" required>
                    <input id="passwordblockid" type="password" placeholder="Password" name="password" required>
                    <input id="reenterpasswordid" type="password" placeholder="Re-Password" name="password" required>
                    <button id="buttonlogin" type="submit"><img src="images/Buttonlogin.png" alt="loginknop"
                            height="25"></button>

                </div>

                <div class="layoutprivacycheckbox">
                    <input type="checkbox" name="voorwaardeprivacy" value="privacyvoorwaarde" required>
                    <label for="voorwaardeprivacy">Ik ga akkoord met de <a id="nohyperlink"
                            href="http://127.0.0.1:5500/privacyvoorwaarde.html"
                            target="_blank">privacyvoorwaarde</a></label></br>
                </div>
            </form>
        </div>

    </div>
</body>

</html>